.footer{
    margin-top: 202px;
    padding:124px 0;
    z-index: 1;
    position: relative;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    &__dots{
        position: absolute;
        top:-70px;
        right: 40px;
    }
    &__white-dots{
        position: absolute;
        bottom: 0;
        left:-100px;
    }
    &__logo{
        width: 160px;
        height: 41px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        margin: 22px 0 31px;
        max-width: 391px;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &__copyright{
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &__item{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &:first-child{
           
            margin-bottom: 2px; 
            a{ font-weight: bold;
            font-size: 20px;
            line-height: 60px;
                color:#ffffff
            }
        }
        
    }
    &__link{
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
}